<article class="client-container <%= client.status %>">
  <% if(client.image.medium.url){ %>
    <img class="client-image" src="<%= client.image.medium.url %>" />
  <% } %>
  <% if(client.grav){ %>
    <img class="client-grav" src="<%= client.grav %>" />
  <% } %>
  <div class="client-details">
    <h3 class="client-name"><%= client.name %> <span class="edit-btn client-edit-btn" href="/clients/<%= client.slug %>/edit"><i class="fa fa-pencil"></i></span></h3>
    <h5 class="client-contact"><%= client.contact %></h5>
    <p class="client-email" href="mailto:<%= client.email %>"><%= client.email %></p>
    <form class="client-edit-form hide" action="clients/<%= client.slug %>/edit" method="post">
      <a href="/clients/<%= client._id %>/delete">DELETE</a>
      <input value="<%= client.name? client.name : '' %>" type="text" name="name" placeholder="Client Name" />
      <input value="<%= client.contact? client.contact : '' %>" type="text" name="contact" placeholder="Contact Name" />
      <input value="<%= client.email? client.email : '' %>" type="text" name="email" placeholder="Contact Email" />
      <select name="status">
        <option <%= client.status == "potential" ? "selected" : "" %> value="potential">Potential</option>
        <option <%= client.status == "active" ? "selected" : "" %> value="active">Active</option>
        <option <%= client.status == "inactive" ? "selected" : "" %> value="inactive">Inactive</option>
        <option <%= client.status == "neverwas" ? "selected" : "" %> value="neverwas">Neverwas</option>
      </select>
      <input class="client-edit-form-save" type="submit" value="Save"/>
    </form>
  </div>
  <ul class="client-options">
    <li><a class="client-email-icon" href="mailto:<%= client.email %>"><i class="fa fa-envelope"></i><span>Email Client</span></a></li>
    <li><a class="client-briefcase-icon" href="#"><i class="fa fa-briefcase"></i><span>Add Project</span></a></li>
    <li><a class="client-calendar-icon" href="#"><i class="fa fa-calendar"></i><span>Add Event</span></a></li>
  </ul>
</article>