<form method="post" class="content-form">
  <input value="<%= _project.title? _project.title : '' %>" type="text" name="title" placeholder="Title" />
  <textarea type="textarea" name="desc" placeholder="Project Description" /><%= _project.desc? _project.desc : '' %></textarea>
  
  <label>Project Cost:
    $<input value="<%= _project.cost? _project.cost : '' %>" type="number" name="cost" placeholder="00" />
  </label>

  <label>Amount Paid:
    $<input value="<%= _project.paid? _project.paid : '0' %>" type="number" name="paid" placeholder="00" />
  </label>

  <label>Invoiced: 
    <input type="checkbox" name="invoiced" <%= _project.invoiced? "checked" : "" %>/>
  </label>

  <label>Invoice Date: 
    <input class="date" type="text" name="invdate" value="<%= _project.invdate? _project.invdate : '' %>" />
  </label>

  <label>Paid Date: 
    <input class="date" type="text" name="paiddate" value="<%= _project.paiddate? _project.paiddate: '' %>" />
  </label>  

  <label>Status: 
  <span class="select"><select name="status">
      <option <%= _project.status == "potential" ? "selected" : "" %> value="potential">Potential</option>
      <option <%= _project.status == "active" ? "selected" : "" %> value="active">Active</option>
      <option <%= _project.status == "completed" ? "selected" : "" %> value="completed">Completed</option>
      <option <%= _project.status == "neverwas" ? "selected" : "" %> value="neverwas">Neverwas</option>
    </select></span>
  </label>

  <label>Client: 
    <span class="select"><select name="_client">
      <option value="none">None</option>
    <% clients.forEach(function(client){ %>

      <option <% if(_project._client){%> 
      <%= (client.id === _project._client.id) ? 'selected': 'nope' %>
      <% } %>
        value="<%= client._id %>">
        <%= client.name %>
      </option>

    <% }); %>
    </select></span>
  </label>
  <input type="submit" />
</form>