<% layout('../layout') -%>
<a class="btn new-project-btn" href="/projects/new/">Add New Project</a>

<h2>Projects</h2>

<div id="visualization">
</div>


<h3>Current Projects</h3>
<%-partial('project',projects)%>

<h3>Inactive Projects</h3>
<%-partial('project',iaprojects)%>


	
	
<script>
	google.setOnLoadCallback(drawChart);

	function drawChart() {

		var dataTable = new google.visualization.DataTable();
    	dataTable.addColumn({ type: 'date', id: 'Date' });
    	dataTable.addColumn({ type: 'number', id: 'Income' });
    	dataTable.addRows(
    		[
    		<% allproj.forEach(function(proj){ %>
    			[ new Date(<%= moment(proj.paiddate).format('YYYY') %>,<%= moment(proj.paiddate).format('M') %>,<%= moment(proj.paiddate).format('D') %>),  <%= proj.paid %>],
    		<% }); %>
    		]
    	);
  

    	var chart = new google.visualization.Calendar(document.getElementById('visualization'));

    	var options = {
    		title: "Monthly Income",
    		height: 200,
    		noDataPattern: {
           		backgroundColor: '#fff',
        		color: '#fff'
        	},
    		calendar: {
    			monthLabel: {
        			color: '#ccc',
      			},
    		  	cellColor: {
    		    	stroke: '#eee',
    		    	strokeOpacity: 1,
    		    	strokeWidth: 2,
    		  	},      		
    		  	monthOutlineColor: {
        			stroke: '#eee',
        			strokeOpacity: 1,
        			strokeWidth: 2
      			},
      			unusedMonthOutlineColor: {
        			stroke: '#eee',
        			strokeOpacity: 1,
        			strokeWidth: 2
      			},      
      			yearLabel: {
        			color: '#ccc',
     			},
    		},

    	};

       chart.draw(dataTable, options);
    };
</script>